*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #091921;
}

.calculator{
  position: relative;
  display: grid;
}

.calculator .value{
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 20px;
}

.calculator span{
  display: grid;
  width: 71px;
  height: 70px;
  color: #fff;
  background: teal;
  place-items: center;
  border: 1px solid rgba(0,0,0,.1);
}

.calculator span:hover{
  background: #0c2835;
}

.error{
  color: red;
  
}




